<!DOCTYPE html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend List</title>
</head>
<body style="font-family:Helvetica;" background="https://68.media.tumblr.com/c9e3514cd7255466bc23cfa8c06f63be/tumblr_inline_n2316gluDV1spxw4r.jpg">
<table width = "400">
    <tr align="left">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    {% for friend in friends %}
    <tr align="left">
        <td>{{ friend[0] }}</td>
        <td>{{ friend[1] }}</td>
        <td>{{ friend[2] }}</td>
    </tr>
    {% endfor %}
</table>
<li><a href='/'>Home</a></li>
</body>
</html>