<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend list</title>

</head>
<body>
        <div class="title">
            <h1>Here is your friend list:</h1>
            <form method="post" action="{{ url_for('friend_list') }}">
                <label for="friends">Enter friends email:</label>
                <input type="friends_email" name="friends_email" /><br />
                <input type = "submit" value="Search" />
            </form>
        </div>
</body>


</html>