<!DOCTYPE html>
{% if message %}
  <h2>{{message}}!</h2>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Friend</title>
</head>

<body style="font-family:Helvetica">
<div class="title">
    <h2>Add a friend</h2>
    <pre>


    </pre>
    <form method="post" action="{{ url_for('add_friend') }}">
        <label>Enter friends email:</label>
        <input type="friends_email" name="friends_email" /><br />
        <input type = "submit" value="Add"/>
    </form>
</div>

<pre>


</pre>

<a href='/friendList' style="font-size: small">Show Friend List</a>



</body>


</html>