<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Friend</title>

</head>
<body style="font-family:Helvetica;" background="https://68.media.tumblr.com/c9e3514cd7255466bc23cfa8c06f63be/tumblr_inline_n2316gluDV1spxw4r.jpg">
        <div class="title">
            <h1 style="text-align:center;">Add a friend</h1>
            <form method="post" action="{{ url_for('add_friend') }}">
                <label for="friends">Enter friends email:</label>
                <input type="friends_email" name="friends_email" /><br />
                <input type = "submit" value="Add" />
            </form>
        </div>
</body>
{%if supress%}
<h1>Already in your friends list! Search for another friend<a href="/friends">Friends</a></h1>
{% endif %}

</html>