<!DOCTYPE html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest</title>
</head>
<body>
<table width = "400">
    <tr align="left">
        <th>Album ID</th>
        <th>Album Name</th>
        <th>Date of Creation</th>
        <th>User ID</th>
    </tr>

    {% for allalbum in allalbums %}
    <tr align="left">
        <td>{{ allalbum[0] }}</td>
        <td>{{ allalbum[1] }}</td>
        <td>{{ allalbum[2] }}</td>
        <td>{{ allalbum[3] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="title">
            <h1>Look Photos</h1>
            <form method="post" action="{{ url_for('photo') }}">
                <label for="album_id">Enter Album ID</label>
                <input type="text" name="album_id" /><br />
                <input type = "submit" value="Look" />
            </form>
</div>
<li><a href='/'>Home</a></li>
</body>
</html>