<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<title>Photoshare</title>

{% if message %}
  <h1 style="font-family: Helvetica">{{message}}</h1>
{% endif %}

{% if name %}
  <h2 style="font-family: Helvetica">Hello {{ name }}!</h2>
{% endif %}

{% if photos %}
<h2 style="text-align:center; font-family: Helvetica">Here's your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <h3 style="font-family: Helvetica">You should <a href='/login'>login</a></h3>
{% else %}
  <h3 style="font-family: Helvetica">Your <a href='/profile'>profile</a></h3>
{% endif %}

<ul style="font-family: Helvetica">
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/guest'>Albums</a> </li>
    <li><a href='/searchTag'>Search Tag</a></li>
    <li><a href='/searchComments'>Search Comment</a></li>
    <li><a href='/top10'>Top 10 Users</a></li>
    <li><a href='/popularTag'>Top 5 Tags</a></li>
    <li><a href='/'>Home</a></li>
</ul>

