<!DOCTYPE html>
<html lang="en">

{% if message %}
  <h2 style="font-family: Helvetica">{{message}}</h2>
{% endif %}

{% if name %}
  <h3 style="font-family: Helvetica">Hello {{ name }}</h3>
{% endif %}

<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<ul style="font-family: Helvetica">
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/friendList'>FriendList</a></li>
    <li><a href='/showAlbum'>Personal Albums</a> </li>
    <li><a href='/guest'>Public Albums</a> </li>
    <li><a href='/searchComments'>Search Comments</a></li>
    <li><a href='/friendsNameRecommand'>See Friends Recommand</a></li>
    <li><a href='/mayalsolike'>You May Also Like</a></li>
    <li><a href='/'>Home</a></li>
    <li><a href='/logout'>Logout</a></li>
</ul>

</body>
</html>