<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Comments</title>
</head>
<body>
<div class="title">
            <h1 style="text-align:center;">Search Comment</h1>
            <form method="post" action="{{ url_for('searchComments') }}">
                <label for="content">Enter the Comment:</label>
                <input type="text" name="content" /><br />
                <input type = "submit" value="Search" />
            </form>
</div>
{% if message %}
  <h2 style="font-family: Helvetica">{{message}}!</h2>
{% endif %}
{% if comments %}
<table width = "400">
    <tr align="left">
        <th>User ID</th>
        <th>Count</th>
    </tr>

    {% for comment in comments %}
    <tr align="left">
        <td>{{ comment[0] }}</td>
        <td>{{ comment[1] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<a href='/'>Home</a>
</body>
</html>