<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShoW LiKE</title>
</head>
<body>
<div class="title">
            <h1 style="text-align:center;">See Like</h1>
            <form method="post" action="{{ url_for('showLike') }}">
                <label for="photo_id">Enter the ID of photo to see Like:</label>
                <input type="text" name="photo_id" /><br />
                <input type = "submit" value="See" />
            </form>
</div>


{% if count %}
    <p>Count of Likes</p>
    {% for c in count %}
        <li>{{ c[0] }}</li>
    {% endfor %}
{% endif %}


{% if liketable %}
    <p>User Who Likes</p>
<table width = "400">
    <tr align="left">
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    {% for likes in liketable %}
    <tr align="left">
        <td>{{ likes[0] }}</td>
        <td>{{ likes[1] }}</td>
        <td>{{ likes[2] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


<li><a href='/'>Home</a></li>
</body>
</html>