<!DOCTYPE html>
{% if message %}
  <h1>{{message}}</h1>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Album</title>
</head>
<body style="font-family:Helvetica;">

<table width = "400">
    <tr align="left">
        <th>ID</th>
        <th>Album Name</th>
        <th>Date of Creation</th>
    </tr>

    {% for album in albums %}
    <tr align="left">
        <td>{{ album[0] }}</td>
        <td>{{ album[1] }}</td>
        <td>{{ album[2] }}</td>
    </tr>
    {% endfor %}
</table>

<pre>


</pre>

<div class="title">
    <h3>Delete Album</h3>
    <form method="post" action="{{ url_for('delete_album') }}">
        <label for="delete_album">Enter ID Of Album You Want to Delete:</label>
        <input type="text" name="delete_album" /><br />
        <input type = "submit" value="Delete" />
    </form>
</div>

<pre>


</pre>

<div class="title">
    <h3>Look Photos </h3>
    <form method="post" action="{{ url_for('photo') }}">
        <label for="album_id" style="font-size: small">Enter Album ID</label>
        <input type="text" name="album_id" /><br />
        <input type = "submit" value="Look" />
    </form>
</div>

<pre>


</pre>

<a href='/' style="font-size: small">Home</a>

</body>
</html>