<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShoW LiKE</title>
</head>
<body>
<div class="title">
            <h1 style="text-align:center;">See Like</h1>
            <form method="post" action="{{ url_for('showLike') }}">
                <label for="photo_id">Enter the ID of photo to see Like:</label>
                <input type="text" name="photo_id" /><br />
                <input type = "submit" value="See" />
            </form>
</div>

<p>Count of Likes</p>
{% if count %}
    {% for c in count %}
        <li>{{ c[0] }}</li>
    {% endfor %}
{% endif %}

<p>Users Who Like</p>
{% if liketable %}
    {% for likes in liketable %}
        <li>{{ likes[0] }}</li>
    {% endfor %}
{% endif %}



<li><a href='/'>Home</a></li>
</body>
</html>