<!DOCTYPE html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Users</title>
</head>
<body>
{% if users %}
<table width = "400">
    <tr align="left">
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    {% for user in users %}
    <tr align="left">
        <td>{{ user[2] }}</td>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<a href='/'>Home</a>
</body>
</html>