<!-- author ben lawson (balawson@bu.edu) -->
{% if message %}
  <h2>{{message}}!</h2>
{% endif %}
<head>
    <title>Upload a photo!</title>
</head>

<body style="font-family:Helvetica;">
<div class="title">
            <h1 style="font-family: Helvetica">Upload a photo to Photoshare</h1>
</div>
<form method="post" enctype="multipart/form-data" action="/upload">
    <label for="photo">Select photo:</label>
    <input type="file" name="photo" required='true' /><br />
    <label for="caption">Please caption:</label>
    <input type="text" name="caption" required='true' /><br />
    <label for="album">Album:</label>
    <input type="text" name="album" required='true' /><br />
    <label for="tag">Tag:</label>
    <input type="text" name="tag" required='false' /><br />
    <input type="submit" value="Upload" />
</form>
</body>
